<html>



<%function getUser() {
      return 100000;
    }%>

    <style>
input[type=text], select {
  width: 100%;
  height: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


  <head><title><%= title %></title></head>
  <body style="background-color:powderblue;">


    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    window.extAsyncInit = function() {
     // alert('loaded sdk');
     getUser();
     //alert('setting to ' + user_psid);
     document.getElementById("pOs").setAttribute('value', user_psid);
     
    };
    function getUser() {
      MessengerExtensions.getUserID(function success(uids) {
        var psid = uids.psid;
        alert(JSON.stringify(psid));
        setUser(JSON.stringify(psid))
      }, function error(err, errorMessage) {
        alert(JSON.stringify(errorMessage));
         // return undefined;
      });
    }/*
    function getUser() {
      setUser('100000');
    }*/

    var user_psid;
    function setUser(string) {
      console.log('set user to: ' + string);
      user_psid = string;
      alert("user being set to:   " + user_psid);
      console.log('set user to: ' + user_psid);
    }

      function getUserPSIDString() {
      return user_psid;
    }

    function getLink() {
      //var string = getUser();
      //user_psid.replace(/['"]+/g, '')
      return "https://nicoswebhook.herokuapp.com/trade?id=" + user_psid.substring(1,user_psid.length-1);
    }
    

   // function get

</script>





  	<h1>
    Welcome <%= user%>, 
</h1>
<h2>
    Select which pokemon to Trade!
</h2>

<script type="text/javascript">
  //getUser();
  console.log("this is what i have:" + user_psid);
  console.log('function gives me ' + getUserPSIDString());
  
//document.getElementById("psidOfSender").setAttribute('value', getUserPSIDString());
</script>


<form id="tableForm" action="/trade?id=<%= id%>" method="post">
    <select id="select" name="name">
    <% for(var a=0; a < itemList.length; a++) { %>
     <option value="<%= itemList[a] %>"><%= itemList[a] %></option>
    <% } %>
</select>


<input type = "hidden" name="idOfSender" id="pOs" value = "thisIStheId">




<input type="submit" value="select" />
</form>




  </body>
</html>