<html>



<%function getUser() {
      return 100000;
    }%>

    <style>
      
img {
  width: 100%;
  height: auto;
}

input[type=text], select {
  width: 100%;
  height: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: x-large;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  height: 10%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: x-large;
}

input[type=submit]:hover {
  background-color: #45a049;
  height: 10%;
  font-size: x-large;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


  <head><title><%= title %></title></head>
  <body style="background-color:powderblue;">


    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    window.extAsyncInit = function() {
     // alert('loaded sdk');
     getUser();
    // alert('setting to ' + user_psid);




//matching??


     document.getElementById("pOs").setAttribute('value', user_psid);
     
/*
//WAS WORKING HERE
     alert(user_psid)



fetch('/trainer?id='+user_psid)
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {

    if (myJson) {
      if (myJson.pokemon.length >0) {

      document.getElementById("tableForm").removeAttribute("style");
      var select = document.getElementById("tableForm"); 
      var options = myJson.pokemon; 

      options.forEach(function(opt) {
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
      });
    
      }
    }
    //alert(JSON.stringify(myJson))
    //console.log(JSON.stringify(myJson));
  });

*/
    MessengerExtensions.getContext('435458370579279', 
      function success(thread_context){
    // success
    var urlParams = new URLSearchParams(window.location.search);
    if (thread_context.psid != urlParams.get("id")){
      fetch('/trainer?id='+thread_context.psid)
      .then(function(response) {
       return response.json();
      })
      .then(function(myJson) {

    if (myJson) {
      if (myJson.pokemon.length >0) {


      document.getElementById("tableForm").removeAttribute("style");
      document.getElementById("header").removeAttribute("style");
      document.getElementById("header2").removeAttribute("style");
      var select = document.getElementById("select"); 
      var options = myJson.pokemon; 

      for(var i = 0; i < options.length; i++) {
      let opt = document.createElement('option');
      opt.innerHTML = options[i];
      opt.value = options[i];
      select.appendChild(opt);
      }
      
    
      }
    }
    //alert(JSON.stringify(myJson))
    //console.log(JSON.stringify(myJson));
  });
    }
      

      },
      function error(err){
    // error


      }
      );

     
    };
    function getUser() {
      MessengerExtensions.getUserID(function success(uids) {
        var psid = uids.psid;

        //alert(JSON.stringify(psid));
        //alert("<%=home%>");

        psid = JSON.stringify(psid);
        setUser(psid)
document.getElementById("pOs").setAttribute('value', psid.substring(1, psid.length-1));

      }, function error(err, errorMessage) {
        alert(JSON.stringify(errorMessage));
        alert('Trading will most likely not work, make sure to open this link within messenger!')
         // return undefined;
      });
    }
    /*function getUser() {
      setUser('500');
    }*/

    var user_psid;
    function setUser(string) {
      console.log('set user to: ' + string);
      user_psid = string;
     // alert("user being set to:   " + user_psid);
      console.log('set user to: ' + user_psid);
    }

      function getUserPSIDString() {
      return user_psid;
    }

    function getLink() {
      //var string = getUser();
      //user_psid.replace(/['"]+/g, '')
      return "https://nicoswebhook.herokuapp.com/trade?id=" + user_psid.substring(1,user_psid.length-1);
    }
    

   // function get








let message = {attachment: {
      type: 'template',
      payload: {
        template_type: 'generic',
        elements: [{
          title: "<%=user%> would like to trade!",
          image_url: 'https://png.pngtree.com/element_our/png/20181031/dog-so-sute-png_225212.jpg',
          subtitle: 'A shared list from Tasks',
          default_action: {
            type: 'web_url',
            url: 'https://nicoswebhook.herokuapp.com/trade',
            messenger_extensions: true,
          },
          buttons: [{
          type: 'web_url',
    title: 'buttonText',
    url: 'https://nicoswebhook.herokuapp.com/trade',
    messenger_extensions: true,
    webview_height_ratio: 'compact',
        }],
      }]
    }
}};



/*{"attachment":{
      "type":"template",
      "payload":{
        "template_type":"button",
        "text":"<%=user%> would like to trade!",
        "buttons":[
          {
            "type":"web_url",
            "url":"https://nicoswebhook.herokuapp.com/trade?id=<%=id%>",
            "title":"Begin trade",
            "webview_height_ratio": "tall",
            "messenger_extensions": "true",
          }
        ]
      }
    }
  };

/*{
  "attachment":{
    "type":"template",
    "payload":{
      "template_type":"generic",
      "elements": [{
        "title":"<%=user%> would like to trade!",
        "image_url": "https://bot.peters-hats.com/img/hats/fez.jpg",
        "subtitle": "<%=user%> is trading a <%= poke%>",
        "default_action":{
          "type":"web_url",
          "url": "https://nicoswebhook.herokuapp.com/trade?id=<%=id%>"
        },
        "buttons":[{
          "type":"web_url",
          "url":"https://nicoswebhook.herokuapp.com/trade?id=<%=id%>",
          "title":"Take the Quiz",
          "webview_height_ratio": "compact"
        }]
      }]
    }
  }
};*/

function sendShare(){
  //alert("calling sendShare()");
MessengerExtensions.beginShareFlow(function(share_response) {
  // User dismissed without error, but did they share the message?
  if(share_response.is_sent){
    // The user actually did share. 
    // Perhaps close the window w/ requestCloseBrowser().
    MessengerExtensions.requestCloseBrowser(null, null);
  }
}, 
function(errorCode, errorMessage) {      
// An error occurred in the process
alert(JSON.stringify(errorMessage))

},
{attachment: {
      type: 'template',
      payload: {
        template_type: 'generic',
        elements: [{
          title: "<%=user%> would like to trade!",
          image_url: 'https://scontent.fphl1-2.fna.fbcdn.net/v/t1.0-9/64927817_494164721124128_6461156501531656192_n.png?_nc_cat=106&_nc_oc=AQmvLIXJxSQvacFGGlRPiL71V3A50D1zd1YcTfvgNBGlhKfWFfr_aJsrU5s98UzAvjw&_nc_ht=scontent.fphl1-2.fna&oh=fccf0921a67afc839cf6db26d8e42a36&oe=5DBEA0D3',
          subtitle: '<%=user%> is trading their <%=poke%>!',
          default_action: {
            type: 'web_url',
            url: 'https://nicoswebhook.herokuapp.com/trade?id=<%=id%>',
            messenger_extensions: true,
          },
          buttons: [{
          type: 'web_url',
    title: 'Press here to trade!',
    url: 'https://nicoswebhook.herokuapp.com/trade?id=<%=id%>',
    messenger_extensions: true,
    webview_height_ratio: 'compact',
        }],
      }]
    }
}},
"<%= home%>");



}

/*
MessengerExtensions.requestCloseBrowser(function success() {
  // webview closed
}, function error(err) {
  // an error occurred
});
*/























</script>





    <h1>
    <%= user%> is trading a <%=poke%>!  
</h1>



<h2>
    Send this link to a friend you'd like to trade with!
</h2>

<img onclick="javascript:sendShare()" src=
<%if (locals.home === 'broadcast') {%> 
"images/broadcast.png"
<% }else { %>

"images/current_thread.png" 
<%}%>
/>

<script type="text/javascript">
  //getUser();
  //alert('just got user');
  //console.log("this is what i have:" + user_psid);
 // console.log('function gives me ' + getUserPSIDString());
  
//document.getElementById("psidOfSender").setAttribute('value', getUserPSIDString());
</script>

<!--
<h1> Type which pokemon you'd like to trade:  </h1>
  <form method = "post">
  <h2>Pokemon To Trade:</h2> <input type="text" name="pokemonName"><br>
  
  <input type="hidden" name="user_psid" id="pOs" value = "startingValue"><br> 
  <input type="hidden" name="isTrading" id="isTrading" value = "true"><br>
<script type="text/javascript"> 
  //getUser();
  //alert(getUserPSIDString())
 // document.getElementById("example").setAttribute('value', getUserPSIDString());
</script>
  <input type="submit" value="Submit">
</form>
-->
<h1 id="header" style="display:none;"> Select which Pokémon you'd like to trade!<h1>
  <h2 id="header2" style="display:none;">Pokemon To Trade:</h2>
<form id="tableForm" style="display:none;" method="post">
    <select id="select" name="name">
    
     <input type="hidden" name="user_psid" id="pOs" value = "startingValue"><br> 
  <input type="hidden" name="isTrading" id="isTrading" value = "true"><br>
<input type="submit" value="Submit">
</select>
</form>






<script>

  //getUser();
  //MessengerExtensions.getUserID(function success(uids) {
    
    


  
   // alert('tst')
</script>



<a href="javascript:getLink();">

<img border="0" alt="cover photo" src="/images/cover.png">
</a>




  </body>
</html>